In [8]:
# import numpy as np
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

In [7]:
pip install pyforest -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: pyforest in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
df= pd.read_csv("D:\Small_Data\Dataset.csv")

In [10]:
df.head()

   ID Warehouse_block  ... Weight_in_gms  Reached.on.Time_Y.N
0   1               D  ...          1233                    1
1   2               F  ...          3088                    1
2   3               A  ...          3374                    1
3   4               B  ...          1177                    1
4   5               C  ...          2484                    1

[5 rows x 12 columns]

In [11]:
df.tail()

          ID Warehouse_block  ... Weight_in_gms  Reached.on.Time_Y.N
10994  10995               A  ...          1538                    1
10995  10996               B  ...          1247                    0
10996  10997               C  ...          1155                    0
10997  10998               F  ...          1210                    0
10998  10999               D  ...          1639                    0

[5 rows x 12 columns]

In [12]:
df.shape

(10999, 12)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [20]:
df.columns

Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [24]:
df['Mode_of_Shipment'].value_counts()

Ship      7462
Flight    1777
Road      1760
Name: Mode_of_Shipment, dtype: int64

In [26]:
df.duplicated().sum()

0

In [27]:
df.describe()

                ID  Customer_care_calls  ...  Weight_in_gms  Reached.on.Time_Y.N
count  10999.00000         10999.000000  ...   10999.000000         10999.000000
mean    5500.00000             4.054459  ...    3634.016729             0.596691
std     3175.28214             1.141490  ...    1635.377251             0.490584
min        1.00000             2.000000  ...    1001.000000             0.000000
25%     2750.50000             3.000000  ...    1839.500000             0.000000
50%     5500.00000             4.000000  ...    4149.000000             1.000000
75%     8249.50000             5.000000  ...    5050.000000             1.000000
max    10999.00000             7.000000  ...    7846.000000             1.000000

[8 rows x 8 columns]

In [32]:
df.index

RangeIndex(start=0, stop=10999, step=1)

In [34]:
df['Customer_rating'].std()

1.4136031713232975